html,
body {
    margin: 0px;
    height: 100%;
}

#section1 {
    background: #7858A6;
}

#section2 {
    background: #BB6464;
}

.section {
    height: 100%;
    width: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 180%;
}

.percent {
    position: absolute;
    bottom: 25%;
width: 15%;
    /*font-size: 125%;*/
    color:#131314d9;

}

#percent1{
    left: 5%;
}

#percent2{
    left: 55%;
}

.chat {
    position: absolute;
    bottom: 7%;
    width: 9%;
    /*font-size: 125%;*/
    color: #131314d9;
}

#chatPercent1{
    left: 8%;
}

#chatPercent2{
    left: 58%;
}

.chatInfo {
    position: absolute;
    top: 12%;
    color: #2e2e2e;
    font-size: 75%;
}


.text {
    position: absolute;
    top: 30%;
    padding: 0px 3%;
}


.textArea {
    position: absolute;
    bottom: 13%;
    visibility: hidden;
    color: #2e2e2e;
    width: 20%;
    height: 30%;
    padding: 4px 6px;
    box-sizing: border-box;
    border: 2px solid #4c4545;
    border-radius: 4px;
    background-color: #cfcbcb40;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    resize: none;
}

#textArea1{
    left: 25%;
}

#textArea2{
    left: 75%;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #52515285;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.input {
    color: #5e2953;
}

#next {

    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    visibility: hidden;
    background: #047ad6;
    color: white;
    border-radius: 5px;
    z-index: 15;
}

#sections {
    display: flex;
    height: 100%;
}


#progressContainer {
    height: 0.6rem;
    width: 90%;
    border-radius: 0.4rem;

    background: #525252;
    position: absolute;
    bottom: 50px;
    left: 5%;
    box-shadow: 2px 2px #282626;
    visibility: hidden;
    background: #46244C;
}

#progressContainer #progress {
    height: 100%;
    width: 0;
    border-radius: 0.4rem;



    transition: width 0.4s ease;
    position: absolute;

    background-size: 400% 400%;

    background: #C74B50;

}
